.as__admin-layout {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 55px 1fr;
  height: 100vh;

  .as__admin-layout_body {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 20px;
    background: #e8edf0;
    border-radius: 30px;

    .as__admin-layout_container {
      height: 100%;
      border-radius: 20px;
      background: #fff;
    }
  }
}
