.as__header-admin {
  grid-column: 1/3;
  grid-row: 1/2;
  background: #fff;
  padding: 0 15px;
  height: 100%;

  .as__logo {
    width: 45px;
    height: 45px;
  }
}

.as__button-burger {
  display: none;
}

@media (max-width: 480px) {
  .as__header-admin {
    padding: 10px;
  }

  .as__button-burger {
    display: block;
  }
}
