.as__auth {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;

  &_item {
    position: relative;
    width: 100%;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 20px 30px;
  }

  &_banner {
    max-width: 600px;
  }

  .as__switch-lang {
    position: absolute;
    right: 0;
    top: 0;
  }
}
