.as__auth {
  height: 100vh;
  padding: 30px;
  margin: 0;

  &_content {
    position: relative;
    max-width: 500px;
    width: 100%;

    .as__auth_form-item {
      margin-bottom: 15px;
    }
  }

  &_banner {
    width: 600px;
  }

  .as__switch-lang {
    position: absolute;
    right: 0;
    top: 0;
  }
}
