.as__auth {
  height: 100vh;
  padding: 30px;
  margin: 0;

  .as__auth_content {
    position: relative;
    width: 500px;
    height: 100%;
    overflow: auto;
  }

  .as__switch-lang {
    position: absolute;
    right: 0;
    top: 0;
  }
}
