.as__left-panel-admin {
  grid-row: 2/3;
  padding-bottom: 15px;
  background: #fff;
  transition: all .3s ease-in-out;

  &.as__left-panel-admin_active {
    top: 60px
  }
}

@media (max-width: 480px) {
  .as__left-panel-admin {
    position: absolute;
    top: -1000px;
    width: calc(100% - 20px);
    border: 1px solid #e8edf0;
    border-radius: 20px;
    margin: 0 10px;
    padding: 10px 0;
  }
}