.as__auth {
  height: 100vh;
  margin: 0;

  .as__auth_content {
    position: relative;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .as__switch-lang {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
