.as__profile-user {
  background: #fff;
  margin: 0 10px;
  border-radius: 40px;
  padding-right: 15px;
  line-height: 1.1;

  .as__profile-user_avatar {
    margin-right: 5px;
  }

  .as__profile-user_fio {
    font-size: 14px;
    font-weight: 500;
  }

  .as__profile-user_role {
    font-size: 11px;
  }
}
